In [83]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium as flm

In [84]:
filename = '/Users/gillanes/Documents/coding_dojo/data/bike_collisions.csv'
df = pd.read_csv(filename)
df.head()

,accident_index,date,borough,ward,latitude,longitude,casualties,severity,url,api_url,number_of_casualties,number_of_vehicles,location
0,2019010161545,2019-02-04T19:55:00,Hounslow,Heston Central,51.475300,-0.375342,Cyclist,fatal,https://www.cyclestreets.net/collisions/report...,https://api.cyclestreets.net/v2/collisions.loc...,1,2,POINT(-0.375342 51.4753)
1,2019010191515,2019-07-04T15:09:00,Lambeth,Clapham Town,51.468211,-0.144234,Cyclist,fatal,https://www.cyclestreets.net/collisions/report...,https://api.cyclestreets.net/v2/collisions.loc...,1,2,POINT(-0.144234 51.468211)
2,2019010209381,2019-10-03T17:05:00,Hillingdon,Northwood,51.612605,-0.434904,"Pedestrian,Cyclist",fatal,https://www.cyclestreets.net/collisions/report...,https://api.cyclestreets.net/v2/collisions.loc...,2,1,POINT(-0.434904 51.612605)
3,2019010214996,2019-10-30T06:39:00,Lewisham,Rushey Green,51.444015,-0.026135,Cyclist,fatal,https://www.cyclestreets.net/collisions/report...,https://api.cyclestreets.net/v2/collisions.loc...,1,2,POINT(-0.026135 51.444015)
4,2019010254652,2019-02-09T08:40:00,Camden,West Hampstead,51.550844,-0.191400,Cyclist,fatal,https://www.cyclestreets.net/collisions/report...,https://api.cyclestreets.net/v2/collisions.loc...,1,1,POINT(-0.1914 51.550844)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61046 entries, 0 to 61045
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   accident_index        61046 non-null  object
 1   date                  61046 non-null  object
 2   borough               61046 non-null  object
 3   ward                  61046 non-null  object
 4   latitude              61046 non-null  float64
 5   longitude             61046 non-null  float64
 6   casualties            61046 non-null  object
 7   severity              61046 non-null  object
 8   url                   61046 non-null  object
 9   api_url               61046 non-null  object
 10  number_of_casualties  61046 non-null  int64
 11  number_of_vehicles    61046 non-null  int64
 12  location              61046 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 6.1+ MB

In [86]:
# Tranformamos la columna date de object a datetime
df['date'] = pd.to_datetime(df['date'])

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61046 entries, 0 to 61045
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   accident_index        61046 non-null  object
 1   date                  61046 non-null  datetime64[ns]
 2   borough               61046 non-null  object
 3   ward                  61046 non-null  object
 4   latitude              61046 non-null  float64
 5   longitude             61046 non-null  float64
 6   casualties            61046 non-null  object
 7   severity              61046 non-null  object
 8   url                   61046 non-null  object
 9   api_url               61046 non-null  object
 10  number_of_casualties  61046 non-null  int64
 11  number_of_vehicles    61046 non-null  int64
 12  location              61046 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(8)
memory usage: 6.1+ MB

In [88]:
# Obtenemos las columnas de Años, Meses y Dias
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day_name()